body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.hidden {
  display: none !important;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content:  space-between;
}

.row > div {
  margin: .5em;
  white-space: nowrap;
}

.version {
  min-width: 85px;
  font-weight: 600;
}

.download-row {
  margin: .5em auto;
}

.loading span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loading span:nth-child(2) {
  animation-delay: .2s;
}

.loading span:nth-child(3) {
  animation-delay: .4s;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.matched {
  color: #4CAF50;
}

.matched:after {
  content: "✔";
  margin-left: .25rem;
}

.mismatched {
  color: #F44336;
}

.mismatched:after {
  content: "✗";
  margin-left: .25rem;
}

.failed {
  color: #FFA500;
  text-decoration: underline;
  cursor: help;
  user-select: none;
}
